@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  /* text-align: center; */
}

.home,
.validacion,
.registrar,
.products {
  display: flex;
  height: 50vh;
  align-items: center;
  justify-content: center;
}



p.a {
  text-align: center;
  align-items: center;
  justify-content: center;

}

.btnFoto {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: crimson;
  color: #fff;
  margin-top: 8px;
  padding: 8px 30px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  
}

.divbtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.labelCC{
  display: flex;
  align-items: center;
  justify-content: center;
}


.cam{
  display: flex;
  align-items: center;
  justify-content: center;
  height: hp('40%');
width: hp('40%');
}
.preview {
  border-radius: 120;
  height: 240,
  
}